name: Deploy to GCP App Engine

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        py -m pytest ./tests/

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GAE_SA_KEY }}

    - name: Deploy to App Engine
      run: |
        gcloud app deploy app.yaml --project ${{ secrets.GCP_PROJECT_ID }} --quiet
